:root{
    --light-color: #fff;
    --toggle-color: #828282;
    --toggle-head-color: #dedede;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
}
.bulb-container{
    width: 100%;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings{
    position: absolute;
    right: 60px;
    background: transparent;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
h1{
    font-weight: 600;
    font-size: 30px;
    font-family: cursive;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
.light{
    position: relative;
    width: 80px;
    height: 80px;
    background: var(--light-color);
    border-radius: 50%;
}
.light::before{
    position: absolute;
    content: '';
    width: 35px;
    height: 80px;
    background: var(--light-color);
    border-radius: 10px;
    left: 27.5%;
    top: -50px;
    border-top: 30px solid black;
}
.light span:nth-child(1){
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    box-shadow: 20px 20px 0 10px var(--light-color);
    border-bottom-right-radius: 40px;
    transform: rotate(342deg);
    top: -16px;
    left: -4px;
}
.light span:nth-child(2){
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    box-shadow: -20px 20px 0 10px var(--light-color);
    border-bottom-left-radius: 40px;
    transform: rotate(16deg);
    top: -16px;
    right: -3.4px;
}
.wire{
    position: absolute;
    width: 4px;
    height: calc(50% - 20px);
    background: #000;
    top: 0%;
    background: #8f8e8e;
}
.light::after{
    position: absolute;
    content: '';
    width: 140px;
    height: 140px;
    background: var(--light-color);
    border-radius: 50%;
    top: 50%;
    left: 0%;
    filter: blur(40px);
    transform: translate(-18%, -40%);
    box-shadow: 0 0 10px var(--light-color),
                0 0 30px var(--light-color),
                0 0 60px var(--light-color),
                0 0 120px var(--light-color),
                0 0 200px var(--light-color);

}
.toggle{
    width: 40px;
    height: 17px;
    position: relative;
    border-radius: 10px;
    background: var(--toggle-color);
    margin: 30px;
}
.toggle::after{
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    left: 0;
    transition: 0.7s;
    background: var(--toggle-head-color);
}
.toggle.on{
    --toggle-color: #76343d;
    --toggle-head-color: red;

}
.toggle.on::after{
    left: 70% !important;
}